body {
    padding: 0;
}

header {
    width: 100%;
    height: 200px;
    background: rgba(0, 0, 0, 0.123);
}

header h1 {
    text-align: center;
    position: relative;
    color: blue;
}

section .btn-footer button {
    background: red;
}